{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
<div class="container" >
    <div class="container" id="allproducts">
        <h1 class="mt-5">Product List</h1>
        <div class="table-responsive mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Short Description</th>
                        <th>Long Description</th>
                        <th>Photo</th>
                        <th>Price</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td><p class="mt-4">{{ product.getRef() }}</p></td>
                            <td><p class="mt-4">{{ product.getShortDescription() }}</p></td>
                            <td><p class="mt-4">{{ product.getLongDescription() }}</p></td>
                            <td>
                                {% if product.getPhoto() %}
                                    <img src="{{ asset('uploads/images/' ~ product.getPhoto()) }}" alt="Product Photo" style="max-width: 100px; max-height: 100px;">
                                {% else %}
                                    No Image
                                {% endif %}
                            </td>
                            <td><p class="mt-4">{{ product.getPrice() }}</p></td>
                           <td>
                            <a href="{{ path('product_show', {'id': product.getId()})}}" class="btn btn-info mt-3" style="display: inline-block;">More</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
